body {
  background-image: url('../images/bgc.jpg');
  background-size: content;
  box-sizing: border-box;
  text-align: center;
}

.form-container {
  background-color: #ff5e00;
  padding-bottom: 15px;
  padding-top: 15px;

  display: flex;
  justify-content: center;
}

input {
  height: 25px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
