body {
  background-image: url('../images/bgc.jpg');
  background-size: content;
  box-sizing: border-box;
  text-align: center;
}

.form-container {
  background-color: tomato;
  padding-bottom: 15px;
  padding-top: 15px;

  display: flex;
  justify-content: center;
}
